.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.feature {
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 0;
  display: flex;
}

.feature-left {
  width: 50%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.feature-left.dev, .feature-right {
  width: 50%;
}

.h2 {
  color: #616161;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Klima, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.h2.feature {
  text-align: center;
  justify-content: center;
  font-size: 21px;
}

.h2.tab {
  width: 100%;
  color: #000;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  font-size: 24px;
}

.heading {
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Klima, sans-serif;
  font-size: 27px;
  font-weight: 500;
  line-height: 44px;
  display: inline-block;
}

.header {
  height: 400px;
  background-color: #b9b9b9;
}

.header.features.hide {
  width: 100%;
  height: auto;
  background-color: #4d9dee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header.mission {
  margin-bottom: 100px;
}

.header.mission.hide {
  display: none;
}

.mission {
  margin-top: 200px;
}

.mission-overview.hide {
  object-fit: fill;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
  position: static;
}

.tab-text {
  text-align: center;
  margin-top: 5px;
  font-weight: 700;
}

.image {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #000;
}

.tabs-menu {
  width: auto;
}

.tab {
  width: 20%;
}

.tab.h1 {
  width: auto;
  flex: 0 auto;
  order: 1;
  align-self: center;
  margin-top: 5px;
  padding-left: 0;
  font-size: 20px;
  line-height: 25px;
}

.grid {
  grid-template: "Area Area-2 Area-3"
                 ". Area-5 Area-4"
                 ". . ."
                 / 1fr 1fr 1fr;
  margin-top: 50px;
}

.footer {
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  display: flex;
}

.div-block {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.heading-2 {
  text-align: center;
  font-family: Klima, sans-serif;
}

.paragraph {
  text-align: center;
}

.development-list {
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 100px;
  font-family: Klima, sans-serif;
}

.list-title {
  align-items: center;
  margin-top: 0;
  display: flex;
}

.list-block {
  width: 25%;
  border: 1px solid #000;
  border-style: none solid solid none;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.list-block.title {
  padding-top: 15px;
}

.list-block.right {
  border-right-style: none;
}

.list-block.text {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

.list-item {
  display: flex;
}

.image-2 {
  background-color: #414141;
}

.list-image {
  width: 35px;
  height: 35px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-text {
  text-align: left;
  font-size: 17px;
}

.heading-3 {
  text-align: center;
  margin-top: 100px;
  font-family: Klima, sans-serif;
}

.joinheader {
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
}

.joinheader.finance {
  height: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.joinheader.donate {
  margin-bottom: 0;
}

.heading-4 {
  text-align: center;
  font-family: Klima, sans-serif;
  font-size: 41px;
}

.heading-5 {
  text-align: center;
  font-family: Klima, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.button {
  float: right;
  background-color: rgba(255, 255, 255, .75);
  border-radius: 5px;
  margin-top: 15px;
  margin-right: 10px;
  padding: 5px 10px;
  display: inline-block;
  position: relative;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.button:hover {
  background-color: #fff;
}

.button.mobile {
  display: none;
}

.logo {
  width: auto;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 4px;
  padding-bottom: 4px;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.feature-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.feature-icon.feature {
  width: 30px;
  height: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: block;
}

.missiontext {
  font-family: Klima, sans-serif;
  font-size: 20px;
  line-height: 31px;
}

.heading-6 {
  font-family: Klima, sans-serif;
}

.heading-6.missionheader {
  font-size: 32px;
}

.mission-item {
  margin-bottom: 50px;
}

.mission-item.requirements {
  background-color: #afc9b2;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px 30px 20px;
}

.mission-item.job {
  margin-bottom: 30px;
}

.nav-menu {
  font-family: Klima, sans-serif;
}

.link {
  color: #5d96ff;
  text-decoration: none;
}

.link.codelink {
  font-family: Klima, sans-serif;
}

.image-feature {
  width: 250px;
  height: 250px;
}

.image-feature.tab {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.navbar {
  width: 100%;
  background-color: #4d9dee;
  font-family: Klima, sans-serif;
  position: fixed;
}

.image-3 {
  max-width: 1000px;
  padding-left: 0;
  padding-right: 0;
}

.body {
  background-color: rgba(0, 0, 0, 0);
}

.p-features {
  width: 100%;
  text-align: left;
  margin-left: 0%;
  margin-right: 0%;
  font-family: Klima, sans-serif;
  font-size: 15px;
  line-height: 25px;
}

.p-features.tab {
  text-align: left;
}

.feature-title {
  color: #4d9dee;
  text-align: center;
  text-transform: none;
  margin-top: 60px;
  font-family: Klima, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
}

.header-title-text {
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
}

.paragraph-2 {
  font-size: 15px;
}

.paragraph-3 {
  font-size: 18px;
}

.header-title-p {
  color: #7a7878;
  font-family: Klima, sans-serif;
  font-size: 20px;
}

.menu-active {
  float: none;
}

.menu-active.w--current {
  float: none;
  color: #fff;
  position: relative;
}

.image-4 {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.titles {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.image-5, .image-6, .image-7 {
  width: 300px;
}

.image-8 {
  width: 800px;
}

.image-8.developers {
  margin-bottom: 100px;
}

.button-2 {
  background-color: #4d9dee;
  border-radius: 5px;
  padding: 14px 24px;
  font-family: Klima, sans-serif;
  font-size: 19px;
}

.button-2:hover {
  background-color: #3873af;
}

.image-status {
  width: 400px;
}

.dev-p {
  font-family: Klima, sans-serif;
}

.image-9 {
  width: 300px;
}

.right-buttons {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.manpower {
  max-width: 800px;
  text-align: center;
  flex-flow: column;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.dropdown-list-3 {
  position: relative;
}

.dropdown-list-3.w--open {
  width: 100%;
  background-color: #fff;
  border: 2px dashed #8ab580;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.main-container {
  width: 80%;
  max-width: 1440px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.image-31 {
  width: 200px;
  height: 200px;
  max-width: 300px;
  padding: 9px;
  font-size: 100px;
  line-height: 100px;
  display: block;
}

.inline-link {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

.ways-to-support {
  padding-top: 100px;
  padding-bottom: 100px;
}

.paragraph-4 {
  color: #000;
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.patreon-link-image {
  border-radius: 5px;
}

.h1 {
  color: #000;
  font-size: 100px;
}

.h1.hero-stroked {
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Klima, sans-serif;
  font-weight: 700;
  line-height: 80px;
}

.heading-12 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  font-family: Klima, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

.heading-12.big {
  font-size: 48px;
}

.supporto-option-text-wrapper {
  width: 49%;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.paragraph-big {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 22px;
  line-height: 35px;
}

.paragraph-big.top-margin {
  margin-top: 20px;
}

.div-block-11 {
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline;
}

.iconfunded {
  opacity: .35;
}

.div-block-12 {
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  display: flex;
}

.hero-title-bg {
  width: 60vw;
  max-width: 800px;
  min-width: 700px;
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  padding: 0;
  display: flex;
}

.big {
  font-size: 70px;
}

.funded {
  filter: invert();
  position: absolute;
}

.funded.hide {
  display: none;
}

.sponser-drowdown {
  width: 100%;
  background-color: #4d9dee;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}

.share-to-support {
  width: 60%;
  max-width: 800px;
  color: #000;
  text-align: center;
  margin: 178px auto 140px;
}

.stroke {
  padding: 32px 60px 14px;
  display: block;
  transform: rotate(-2deg);
}

.stroke.community {
  background-image: url('../images/community-stroke.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.stroke.community.cov {
  background-image: none;
  transform: rotate(-1deg);
}

.embed-donations {
  width: 100%;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.text-block-4 {
  width: 100%;
  text-transform: uppercase;
  padding-left: 20px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  display: flex;
}

.text-block-4.title {
  padding-left: 0;
  display: block;
}

.text-block-4.title.done {
  opacity: .42;
  color: #000;
  text-decoration: line-through;
}

.text-block-4.red {
  width: auto;
  color: #fff;
  letter-spacing: 1px;
  background-color: #e94343;
  border-radius: 4px;
  margin-top: 0;
  margin-right: 20px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
}

.text-block-4.red.yellow {
  background-color: #e9b143;
}

.image-30 {
  width: 50%;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.support-option-money {
  width: 100%;
  max-width: 1000px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.support-option-money.reverse {
  width: 100%;
  max-width: 1000px;
  flex-wrap: nowrap;
}

.hero-title {
  text-align: center;
  margin-top: -100px;
  position: relative;
}

.hero-title.community-platform {
  margin-top: 150px;
}

.text-block-5 {
  border: 1px #8ab580;
  margin-bottom: 30px;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
}

.text-block-5.strike {
  text-decoration: line-through;
}

.dropdown-toggle-5 {
  width: 100%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: Klima, sans-serif;
  display: flex;
}

.dropdown-toggle-5.workforce {
  background-color: #cfcfcf;
  border-radius: 4px;
}

.patreon-link {
  border-radius: 5px;
}

.funded-by {
  clear: none;
  color: #8ab580;
  text-transform: uppercase;
  flex: none;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: flex-start;
  margin-left: 200px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-family: Klima, sans-serif;
  font-size: 16px;
  font-weight: 700;
  display: block;
  position: absolute;
}

.one-army-footer {
  height: auto;
  background-color: #27272c;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  text-decoration: none;
  display: flex;
  position: relative;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.oa-link {
  width: 100%;
  text-decoration: none;
}

.oa-footer-wrapper {
  height: auto;
  background-color: #27272c;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 20px;
  display: flex;
}

.one-army-logo {
  height: 25px;
  margin-right: 10px;
}

.h5-oa {
  color: #fff8ef;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Klima, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.text-span-3 {
  text-decoration: underline;
}

.bluebutton {
  background-color: #4d9dee;
  border-radius: 6px;
  padding: 15px 20px;
  font-family: Klima, sans-serif;
  font-size: 16px;
}

.blue {
  background-color: #4d9dee;
}

.tabs-menu-2 {
  width: 30%;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  display: flex;
}

.tabs {
  flex-direction: row;
  flex: 0 auto;
  order: 0;
  justify-content: flex-start;
  align-self: stretch;
  display: flex;
}

.tabs-content {
  width: 70%;
}

.sidetab {
  width: 100%;
  background-color: rgba(221, 221, 221, 0);
  border-radius: 8px;
  margin-bottom: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  display: flex;
}

.sidetab:hover {
  background-color: rgba(77, 157, 238, .72);
}

.sidetab.w--current {
  color: #333;
  background-color: #4d9dee;
  display: flex;
}

.icon-feature {
  width: auto;
  height: auto;
  text-align: center;
  flex-flow: row;
  flex: 0 auto;
  order: 0;
  justify-content: flex-start;
  align-self: auto;
  align-items: center;
  padding-right: 10px;
  display: flex;
}

.icon-feature.tab {
  opacity: .5;
}

.image-32 {
  width: 30px;
  height: 30px;
  order: -1;
  align-self: center;
}

.image-32.tab {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-left: -5px;
}

.tab-pane-tab-1 {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.container-tab {
  max-width: 1200px;
  float: none;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.constant {
  display: inline-block;
}

.tiny-txt {
  color: #312188;
}

.changer {
  position: relative;
  top: 0;
}

.wrap {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tiny-cont {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.tiny-link {
  color: #d4145a;
}

.text-wrap {
  height: 20px;
  align-items: flex-start;
  display: flex;
}

.changer-overflow {
  height: 20px;
  margin-left: 5px;
  display: inline-block;
  overflow: hidden;
}

.tabb {
  padding-left: 100px;
  padding-right: 100px;
}

.tabs-menu-3 {
  align-self: auto;
  margin-top: 100px;
}

.tabs-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.help-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.help-container.finance {
  width: 100%;
  max-width: 2000px;
}

.help.tab {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Klima, sans-serif;
  font-size: 22px;
}

.help.tab.image {
  width: 200px;
  height: 200px;
  border-style: none;
  margin-top: 10px;
}

.tab-link-tab-1 {
  opacity: .62;
  background-color: #fff;
  border: 1px #000;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.tab-link-tab-1:hover {
  opacity: 1;
  background-color: #dbdbdb;
}

.tab-link-tab-1.w--current {
  opacity: 1;
}

.tab-link-tab-2 {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.tab-link-tab-2:hover {
  background-color: #e2e2e2;
}

.tab-link-tab-1-copy {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.html-embed {
  width: 100%;
  border: 0 rgba(0, 0, 0, 0);
  position: static;
}

.tabs-content-2 {
  width: 100%;
}

.embed-collective {
  width: 100%;
  max-width: 2000px;
  border: 0 rgba(61, 54, 54, 0);
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.h4-roadmap {
  color: #6b6b6b;
  text-align: center;
  font-family: Klima, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.textblock {
  height: 300px;
  background-color: #4d9dee;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-13 {
  color: #fff;
  text-align: center;
  font-family: Klima, sans-serif;
  font-size: 45px;
  font-weight: 400;
}

.test-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #292627;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.after {
  width: 900px;
  height: 500px;
  color: #fff;
  background-color: #1b191a;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  box-shadow: 0 6px 22px rgba(0, 0, 0, .12);
}

.typed-words {
  color: #fff;
  text-align: center;
  font-family: Klima, sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  text-decoration: underline;
  display: inline-block;
}

.div-block-13 {
  width: 1000px;
}

.spacer {
  height: 800px;
  line-height: 800px;
}

.nav-menu-2 {
  order: 0;
  align-self: center;
}

.codetext {
  line-height: 23px;
}

.heading7 {
  font-family: Klima, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
}

.heading-7 {
  font-family: Klima, sans-serif;
}

.mindset {
  width: 100%;
  line-height: 0;
  display: block;
}

.container-2 {
  justify-content: center;
  display: flex;
}

.job-button {
  text-align: center;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  font-family: Klima, sans-serif;
  font-size: 18px;
}

.job-button:hover {
  color: #000;
  background-color: #8cc5f7;
}

.center {
  display: flex;
}

.paragraph-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.value-text {
  color: #757575;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Klima, sans-serif;
  line-height: 26px;
}

.nutshellimage {
  width: 150px;
  height: auto;
}

.nutshelltitle {
  text-transform: none;
  font-family: Klima, sans-serif;
}

.notification {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  transition: opacity;
}

.message {
  text-align: center;
  background-color: #ece9aa;
  border-radius: 7px;
  padding: 20px 30px;
  font-family: Klima, sans-serif;
  font-weight: 400;
  box-shadow: 1px 0 6px 4px #d4d4d4;
}

.messagep {
  color: #5a5a5a;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 12px;
}

.mobile-button {
  display: none;
}

@media screen and (max-width: 991px) {
  .feature {
    padding-right: 20px;
  }

  .heading {
    font-size: 20px;
  }

  .mission {
    margin-top: 200px;
  }

  .list-block.title.left {
    width: 40%;
    padding-left: 30px;
  }

  .list-block.text {
    width: 40%;
  }

  .joinheader {
    margin-left: 20px;
    padding-right: 20px;
  }

  .button {
    margin-left: 0;
  }

  .button.mobile {
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 17px;
    display: block;
  }

  .button.mobile.w--current {
    margin-left: 35px;
    display: block;
  }

  .logo {
    margin-top: 0;
  }

  .menu-active {
    width: 100%;
    flex: 1;
    order: 0;
    justify-content: center;
    align-self: auto;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
    display: flex;
    position: static;
  }

  .right-buttons {
    align-items: flex-end;
    display: none;
    position: static;
  }

  .main-container {
    width: 98%;
  }

  .div-block-12 {
    flex-direction: column;
    align-items: flex-start;
  }

  .share-to-support {
    width: 80%;
  }

  .text-block-4.red {
    margin-top: 4px;
    position: relative;
  }

  .support-option-money {
    width: 98%;
  }

  .tabs-menu-2 {
    width: 40%;
    margin-top: 0;
    padding-right: 30px;
  }

  .tabs {
    width: 100%;
  }

  .tabs-content {
    width: 60%;
  }

  .sidetab {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 0;
  }

  .tabb {
    padding-left: 30px;
    padding-right: 30px;
  }

  .menu-button {
    background-color: #4d9dee;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-button.w--open {
    background-color: rgba(77, 157, 238, 0);
  }

  .nav-menu-2 {
    background-color: #4d9dee;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
  }

  .hamburger {
    font-size: 40px;
  }

  .container-2 {
    justify-content: flex-start;
    line-height: 20px;
    display: block;
  }

  .message {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .messagep {
    line-height: 19px;
  }

  .brand {
    position: relative;
  }

  .mobile-button {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-self: center;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .feature {
    width: 100%;
    margin-top: 130px;
    display: block;
  }

  .feature-left, .feature-left.dev {
    width: 100%;
  }

  .feature-right {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .h2 {
    text-align: center;
    line-height: 23px;
  }

  .heading {
    width: auto;
    text-align: center;
    font-size: 23px;
  }

  .mission, .development-list {
    margin-left: 10px;
    margin-right: 10px;
  }

  .list-block {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .list-block.title.left {
    justify-content: center;
    padding-left: 20px;
  }

  .list-block.text {
    padding-left: 20px;
  }

  .list-image {
    width: 25px;
    height: 25px;
  }

  .list-text {
    font-size: 16px;
  }

  .heading-3 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .button {
    flex-flow: row;
    flex: 0 auto;
    justify-content: space-around;
    align-items: stretch;
    margin-left: 10px;
    display: block;
    position: relative;
    right: auto;
  }

  .button.mobile {
    margin-left: 15px;
  }

  .button.mobile.w--current {
    margin-left: 10px;
  }

  .link.class, .link.codelink {
    width: 100%;
    float: left;
    text-align: center;
  }

  .image-3 {
    width: 100%;
    margin-top: 50px;
  }

  .p-features {
    text-align: center;
  }

  .feature-title {
    margin-left: 10px;
    margin-right: 10px;
  }

  .menu-active {
    justify-content: center;
    margin-left: 0;
    display: flex;
  }

  .image-4 {
    clear: none;
    flex: 0 auto;
    align-self: auto;
  }

  .titles {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .image-5 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .image-6 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .image-7 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .dev-p {
    text-align: center;
    line-height: 27px;
  }

  .image-9 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .right-buttons {
    display: none;
  }

  .manpower {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .ways-to-support {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .paragraph-4 {
    font-size: 16px;
    line-height: 28px;
  }

  .h1.hero-stroked {
    font-size: 60px;
  }

  .heading-12 {
    margin-bottom: 0;
  }

  .heading-12.big {
    font-size: 30px;
  }

  .supporto-option-text-wrapper {
    width: 70%;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .hero-title-bg {
    width: 100%;
    min-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .big {
    font-size: 50px;
  }

  .embed-donations {
    width: 70%;
  }

  .text-block-4.title {
    font-size: 15px;
  }

  .image-30 {
    width: 70%;
    margin-bottom: 20px;
  }

  .support-option-money {
    flex-direction: column;
  }

  .support-option-money.reverse {
    flex-wrap: nowrap;
  }

  .hero-title.community-platform {
    margin-top: 50px;
  }

  .tabs-menu-2 {
    width: 100%;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 0;
  }

  .tabs {
    flex-direction: column;
  }

  .tabs-content {
    width: 100%;
  }

  .sidetab {
    width: 400px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .tab-link-tab-1 {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-menu-2 {
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    display: flex;
  }

  .paragraph-5 {
    text-align: center;
  }

  .codetext {
    text-align: center;
    line-height: 24px;
  }

  .nutshelltitle {
    text-align: center;
  }

  .messagep {
    font-size: 12px;
  }

  .mobile-button {
    justify-content: center;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .feature {
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .h2 {
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    display: block;
  }

  .h2.tab {
    text-align: center;
  }

  .h2.roadmap {
    display: none;
  }

  .heading {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 32px;
  }

  .tab.h1 {
    display: none;
  }

  .grid {
    align-content: start;
    align-items: stretch;
    justify-items: stretch;
    margin-bottom: 50px;
    display: block;
  }

  .list-block.title.left, .list-block.text {
    width: 33%;
    justify-content: flex-start;
    padding-left: 10px;
  }

  .list-image {
    width: 20px;
    height: 20px;
  }

  .list-text {
    font-size: 13px;
  }

  .heading-3 {
    font-size: 28px;
    line-height: 31px;
  }

  .heading-4 {
    font-size: 30px;
  }

  .feature-icon {
    display: none;
  }

  .p-features {
    margin-bottom: 30px;
  }

  .p-features.tab {
    text-align: center;
  }

  .feature-title {
    font-size: 33px;
    line-height: 42px;
  }

  .header-title-text {
    margin-top: 0;
    margin-bottom: 0;
  }

  .header-title-p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 24px;
    display: none;
  }

  .dev-p {
    font-size: 13px;
  }

  .dropdown-list-3.w--open {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .paragraph-4 {
    text-align: left;
  }

  .h1.hero-stroked {
    z-index: 3;
    width: auto;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 38px;
    line-height: 40px;
    display: block;
    position: relative;
  }

  .heading-12.big {
    text-align: left;
  }

  .supporto-option-text-wrapper {
    width: 98%;
  }

  .paragraph-big {
    font-size: 22px;
    line-height: 30px;
  }

  .paragraph-big.top-margin {
    text-align: left;
    margin-top: 0;
    font-size: 16px;
    line-height: 27px;
  }

  .hero-title-bg {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .share-to-support {
    width: 98%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .stroke.community {
    padding-left: 20px;
    padding-right: 20px;
  }

  .stroke.community.cov {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .embed-donations {
    width: 100%;
  }

  .text-block-4.title {
    clear: none;
    text-align: left;
    white-space: pre-line;
    object-fit: fill;
    position: static;
  }

  .image-30 {
    width: 98%;
  }

  .support-option-money {
    width: 95%;
  }

  .hero-title {
    margin-top: -65px;
  }

  .funded-by {
    flex: none;
    order: 0;
    align-self: auto;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
    display: block;
    position: static;
  }

  .tabs-menu-2 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sidetab {
    width: 100%;
    padding-bottom: 0;
  }

  .icon-feature {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .image-32 {
    width: 20px;
    height: 20px;
  }

  .image-32.tab {
    display: none;
  }

  .tabs-menu-3 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .help.tab {
    line-height: 20px;
  }

  .help.tab.image {
    width: 60px;
    height: 60px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .tab-link-tab-1 {
    align-items: center;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    font-family: Klima, sans-serif;
    display: flex;
  }

  .tab-link-tab-1.w--current {
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .h4-roadmap {
    display: none;
  }

  .message {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#w-node-_63d68946-2653-d4f0-e31c-0bd4050186c6-c048d254, #w-node-a1ee1840-ee14-84a6-60bb-fe9cc8c13649-c048d254, #w-node-bdb1d346-40bc-1901-78b5-b543146feaf0-c048d254, #w-node-_0e3c5a09-3063-44d3-40c1-6db10b07edec-c048d254, #w-node-_5ff2e654-e0c2-bcea-fcc2-dbe490e7f7f0-c048d254, #w-node-_793721f6-24dc-48f2-84af-af2611bb9ab1-c048d254 {
  align-self: auto;
  justify-self: auto;
}


@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}